.clock {
    height: 400px;
    width: 400px;
    border: 4px solid blue;
    border-radius: 50%;
    position: relative;
    /* transform-origin: center center; */

}

#hour {
    height: 100px;
    width: 3px;
    background-color: black;
    /* transform: rotate(125deg); */

}

#minute {
    height: 130px;
    width: 2px;
    background-color: rgb(201, 30, 30);
    /* transform: rotate(270deg) */
}

#second {
    position: absolute;
    bottom: 50%;
    right: 50%;
    height: 170px;
    width: 1px;
    background-color: rgb(42, 184, 153);
    /* transform: rotate(90deg); */
    transform-origin: bottom center;
}

#hour,
#second,
#minute {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform-origin: bottom center;
}